QPushButton[class="bigButton"] {
    font-size: 20px;
    font-weight: bold;
}

QPushButton#stopButton {
    background-color: #ff0000 
}

QPushButton#startButton {
    background-color: #00ff00 
}

QPushButton#homingButton {
    background-color: #00ffff 
}
