# ROS nodes
catkin_pkg
opencv-python
python-can
odrive

# FlexBE
pyyaml
numpy<2
empy
PySide6
lark
pytest
fastAPI==0.109.1
pydantic
websockets
uvicorn

# our GUI
PyQt6

# internal dependencies
jinja2
typeguard
