<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/b36124d5af2122816059b47e/w/a841b9e213fb45aaaf3ccb90/e/4491014b8b2b8eb18a8ad47f -->
<robot name="qbert">
  <!-- Frame Origin (dummy link + fixed joint) -->
  <link name="Origin">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
  </link>
  <joint name="Origin_frame" type="fixed">
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
    <parent link="Origin"/>
    <child link="linear_gantry__configuration_festo"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link linear_gantry__configuration_festo -->
  <link name="linear_gantry__configuration_festo">
    <inertial>
      <origin xyz="-0.145903 -0.0648003 0.0860613" rpy="0 0 0"/>
      <mass value="0.374514"/>
      <inertia ixx="0.00442844" ixy="5.42101e-20" ixz="-1.01644e-19" iyy="0.00910556" iyz="-1.71996e-06" izz="0.0129786"/>
    </inertial>
    <!-- Part linear_gantry__configuration_festo_parts -->
    <visual>
      <origin xyz="-0.145903 -0.0648003 0.0860613" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/linear_gantry__configuration_festo_visual.stl"/>
      </geometry>
      <material name="linear_gantry__configuration_festo_parts_material">
        <color rgba="0.600252 0.584671 0.539481 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.145903 -0.0648003 0.0860613" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/linear_gantry__configuration_festo_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link stator -->
  <link name="stator">
    <inertial>
      <origin xyz="0.27825 -0.14 -0.188372" rpy="0 0 0"/>
      <mass value="4.59951"/>
      <inertia ixx="0.0883615" ixy="-3.22064e-16" ixz="-2.7663e-16" iyy="0.0883615" iyz="-1.57033e-17" izz="0.154432"/>
    </inertial>
    <!-- Part stator_parts -->
    <visual>
      <origin xyz="0.27825 -0.14 -0.188372" rpy="-1.5708 -3.6585e-14 -1.5708"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/stator_visual.stl"/>
      </geometry>
      <material name="stator_parts_material">
        <color rgba="0.634436 0.650486 0.663849 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.27825 -0.14 -0.188372" rpy="-1.5708 -3.6585e-14 -1.5708"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/stator_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link rot_disc -->
  <link name="rot_disc">
    <inertial>
      <origin xyz="3.76583e-16 4.20947e-16 0.0433903" rpy="0 0 0"/>
      <mass value="10.8297"/>
      <inertia ixx="0.220879" ixy="-0.0478953" ixz="-2.74674e-16" iyy="0.206073" iyz="-2.67905e-16" izz="0.337874"/>
    </inertial>
    <!-- Part rot_disc_parts -->
    <visual>
      <origin xyz="4.44089e-16 5.55112e-16 0.0433903" rpy="1.5708 3.92647e-14 -0.00433337"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/rot_disc_visual.stl"/>
      </geometry>
      <material name="rot_disc_parts_material">
        <color rgba="0.717004 0.740583 0.760258 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="4.44089e-16 5.55112e-16 0.0433903" rpy="1.5708 3.92647e-14 -0.00433337"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/rot_disc_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame camera_right (dummy link + fixed joint) -->
  <link name="camera_right">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="camera_right_frame" type="fixed">
    <origin xyz="-0.0325 -0.24505 -0.0825" rpy="-1.5708 -7.38925e-20 1.68627e-16"/>
    <parent link="rot_disc"/>
    <child link="camera_right"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame camera_left (dummy link + fixed joint) -->
  <link name="camera_left">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="camera_left_frame" type="fixed">
    <origin xyz="0.0175 -0.24505 -0.0825" rpy="-1.5708 -7.38925e-20 1.68627e-16"/>
    <parent link="rot_disc"/>
    <child link="camera_left"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link tooling_disc -->
  <link name="tooling_disc">
    <inertial>
      <origin xyz="-0.00632037 -0.180912 -0.251556" rpy="0 0 0"/>
      <mass value="7.26529"/>
      <inertia ixx="0.207571" ixy="-0.00471527" ixz="-0.00286734" iyy="0.168334" iyz="-0.00279748" izz="0.202238"/>
    </inertial>
    <!-- Part tooling_disc_parts -->
    <visual>
      <origin xyz="-0.00632037 -0.180912 -0.251556" rpy="1.5708 4.0149e-14 0.781065"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/tooling_disc_visual.stl"/>
      </geometry>
      <material name="tooling_disc_parts_material">
        <color rgba="0.663519 0.696383 0.72357 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00632037 -0.180912 -0.251556" rpy="1.5708 4.0149e-14 0.781065"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/tooling_disc_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame axe (dummy link + fixed joint) -->
  <link name="axe">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="axe_frame" type="fixed">
    <origin xyz="-1.02696e-15 -0.17475 -0.323467" rpy="4.59948e-16 8.65217e-16 -1.5708"/>
    <parent link="tooling_disc"/>
    <child link="axe"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link unstrander_2 -->
  <link name="unstrander_2">
    <inertial>
      <origin xyz="-0.0534015 -0.00511464 -0.0611991" rpy="0 0 0"/>
      <mass value="0.0687236"/>
      <inertia ixx="5.72962e-06" ixy="6.89149e-14" ixz="-7.51891e-14" iyy="0.000107346" iyz="-7.02239e-08" izz="0.000109963"/>
    </inertial>
    <!-- Part unstrander_2_parts -->
    <visual>
      <origin xyz="-0.0534015 -0.00511464 -0.0611991" rpy="-7.90508e-12 1.56646 3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/unstrander_2_visual.stl"/>
      </geometry>
      <material name="unstrander_2_parts_material">
        <color rgba="0.641194 0.647338 0.650968 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0534015 -0.00511464 -0.0611991" rpy="-7.90508e-12 1.56646 3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/unstrander_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame unstrander (dummy link + fixed joint) -->
  <link name="unstrander">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="unstrander_frame" type="fixed">
    <origin xyz="-0.0534015 -0.0232676 -0.0560611" rpy="1.5708 -1.5708 0"/>
    <parent link="unstrander_2"/>
    <child link="unstrander"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Joint from tooling_disc to unstrander_2 -->
  <joint name="J4_unstrander" type="prismatic">
    <origin xyz="-0.131984 -0.231215 -0.298562" rpy="-1.5708 4.06796e-16 2.35619"/>
    <parent link="tooling_disc"/>
    <child link="unstrander_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="0.0"/>
  </joint>
  <!-- Joint from rot_disc to tooling_disc -->
  <joint name="joint_J3_A_tool_disc" type="prismatic">
    <origin xyz="0.123567 0.123567 0.1805" rpy="1.25607e-15 -1.12739e-23 -0.785398"/>
    <parent link="rot_disc"/>
    <child link="tooling_disc"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.2" upper="0"/>
  </joint>
  <!-- Link compressor -->
  <link name="compressor">
    <inertial>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="0 0 0"/>
      <mass value="0.601925"/>
      <inertia ixx="0.000939728" ixy="1.50607e-05" ixz="-5.97162e-11" iyy="0.00119535" iyz="-1.20544e-07" izz="0.000454779"/>
    </inertial>
    <!-- Part compressor_parts -->
    <visual>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="1.54515e-14 -0.00433337 -8.26873e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_visual.stl"/>
      </geometry>
      <material name="compressor_parts_material">
        <color rgba="0.57434 0.605618 0.639126 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="1.54515e-14 -0.00433337 -8.26873e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from rot_disc to compressor -->
  <joint name="J3_B_compressor_1" type="prismatic">
    <origin xyz="3.88578e-16 -0.1911 0.081" rpy="1.5708 -4.34328e-14 -1.84623e-15"/>
    <parent link="rot_disc"/>
    <child link="compressor"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="0.0"/>
  </joint>
  <!-- Link compressor_2 -->
  <link name="compressor_2">
    <inertial>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="0 0 0"/>
      <mass value="0.601925"/>
      <inertia ixx="0.000939728" ixy="1.50607e-05" ixz="-5.97162e-11" iyy="0.00119535" iyz="-1.20544e-07" izz="0.000454779"/>
    </inertial>
    <!-- Part compressor_2_parts -->
    <visual>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="3.14159 -1.56646 -3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_2_visual.stl"/>
      </geometry>
      <material name="compressor_2_parts_material">
        <color rgba="0.57434 0.605618 0.639126 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="3.14159 -1.56646 -3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from rot_disc to compressor_2 -->
  <joint name="J3_B_compressor_2" type="prismatic">
    <origin xyz="0.1911 4.996e-16 0.037" rpy="1.5708 -3.30585e-15 1.5708"/>
    <parent link="rot_disc"/>
    <child link="compressor_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="0.0"/>
  </joint>
  <!-- Link compressor_3 -->
  <link name="compressor_3">
    <inertial>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="0 0 0"/>
      <mass value="0.601925"/>
      <inertia ixx="0.000939728" ixy="1.50607e-05" ixz="-5.97162e-11" iyy="0.00119535" iyz="-1.20544e-07" izz="0.000454779"/>
    </inertial>
    <!-- Part compressor_3_parts -->
    <visual>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="6.09046e-13 1.56646 -3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_3_visual.stl"/>
      </geometry>
      <material name="compressor_3_parts_material">
        <color rgba="0.57434 0.605618 0.639126 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="6.09046e-13 1.56646 -3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_3_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from rot_disc to compressor_3 -->
  <joint name="J3_B_compressor_3" type="prismatic">
    <origin xyz="-0.1911 -1.55431e-15 0.037" rpy="-1.5708 6.20095e-15 1.5708"/>
    <parent link="rot_disc"/>
    <child link="compressor_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="0"/>
    <mimic joint="J3_B_compressor_2" multiplier="1.0"/>
  </joint>
  <!-- Link compressor_4 -->
  <link name="compressor_4">
    <inertial>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="0 0 0"/>
      <mass value="0.601925"/>
      <inertia ixx="0.000939728" ixy="1.50607e-05" ixz="-5.97162e-11" iyy="0.00119535" iyz="-1.20544e-07" izz="0.000454779"/>
    </inertial>
    <!-- Part compressor_4_parts -->
    <visual>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="-3.14159 0.00433337 7.49258e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_4_visual.stl"/>
      </geometry>
      <material name="compressor_4_parts_material">
        <color rgba="0.57434 0.605618 0.639126 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-4.50688e-09 -0.000135462 -0.0882216" rpy="-3.14159 0.00433337 7.49258e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/compressor_4_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from rot_disc to compressor_4 -->
  <joint name="J3_B_compressor_4" type="prismatic">
    <origin xyz="3.88578e-16 0.1911 0.081" rpy="-1.5708 -3.56609e-14 6.32771e-15"/>
    <parent link="rot_disc"/>
    <child link="compressor_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="0.0"/>
    <mimic joint="J3_B_compressor_1" multiplier="1.0"/>
  </joint>
  <!-- Joint from stator to rot_disc -->
  <joint name="J2_A_rotor" type="revolute">
    <origin xyz="0.27825 -0.14 0.2" rpy="-3.14159 2.69849e-15 -1.57513"/>
    <parent link="stator"/>
    <child link="rot_disc"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14593" upper="3.13726"/>
  </joint>
  <!-- Link solid_gripper -->
  <link name="solid_gripper">
    <inertial>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="0 0 0"/>
      <mass value="0.940003"/>
      <inertia ixx="0.000819605" ixy="1.09678e-05" ixz="4.4508e-11" iyy="0.00142861" iyz="5.44922e-07" izz="0.00119778"/>
    </inertial>
    <!-- Part solid_gripper_parts -->
    <visual>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="-3.14159 -7.46793e-14 -3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_visual.stl"/>
      </geometry>
      <material name="solid_gripper_parts_material">
        <color rgba="0.547041 0.58449 0.621749 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="-3.14159 -7.46793e-14 -3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to solid_gripper -->
  <joint name="J2_B_solid_gripper_1" type="prismatic">
    <origin xyz="0.10415 -0.14 -0.153" rpy="-1.5708 7.21582e-15 1.5708"/>
    <parent link="stator"/>
    <child link="solid_gripper"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="0"/>
  </joint>
  <!-- Link solid_gripper_2 -->
  <link name="solid_gripper_2">
    <inertial>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="0 0 0"/>
      <mass value="0.940003"/>
      <inertia ixx="0.000819605" ixy="1.09678e-05" ixz="4.4508e-11" iyy="0.00142861" iyz="5.44922e-07" izz="0.00119778"/>
    </inertial>
    <!-- Part solid_gripper_2_parts -->
    <visual>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="-3.25851e-15 -1.5708 0"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_2_visual.stl"/>
      </geometry>
      <material name="solid_gripper_2_parts_material">
        <color rgba="0.547041 0.58449 0.621749 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="-3.25851e-15 -1.5708 0"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to solid_gripper_2 -->
  <joint name="J2_B_solid_gripper_2" type="prismatic">
    <origin xyz="0.27825 -0.3141 -0.153" rpy="-1.5708 2.27583e-14 -3.14159"/>
    <parent link="stator"/>
    <child link="solid_gripper_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="-6.38378e-16"/>
    <mimic joint="J2_B_solid_gripper_1" multiplier="1.0"/>
  </joint>
  <!-- Link solid_gripper_3 -->
  <link name="solid_gripper_3">
    <inertial>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="0 0 0"/>
      <mass value="0.940003"/>
      <inertia ixx="0.000819605" ixy="1.09678e-05" ixz="4.4508e-11" iyy="0.00142861" iyz="5.44922e-07" izz="0.00119778"/>
    </inertial>
    <!-- Part solid_gripper_3_parts -->
    <visual>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_3_visual.stl"/>
      </geometry>
      <material name="solid_gripper_3_parts_material">
        <color rgba="0.547041 0.58449 0.621749 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="-3.14159 1.5708 0"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_3_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to solid_gripper_3 -->
  <joint name="J2_B_solid_gripper_3" type="prismatic">
    <origin xyz="0.27825 0.0341 -0.153" rpy="1.5708 -4.08537e-14 -3.14159"/>
    <parent link="stator"/>
    <child link="solid_gripper_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="-3.88578e-16"/>
    <mimic joint="J2_B_solid_gripper_1" multiplier="1.0"/>
  </joint>
  <!-- Link solid_gripper_4 -->
  <link name="solid_gripper_4">
    <inertial>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="0 0 0"/>
      <mass value="0.940003"/>
      <inertia ixx="0.000819605" ixy="1.09678e-05" ixz="4.4508e-11" iyy="0.00142861" iyz="5.44922e-07" izz="0.00119778"/>
    </inertial>
    <!-- Part solid_gripper_4_parts -->
    <visual>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="1.69099e-14 9.1368e-14 3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_4_visual.stl"/>
      </geometry>
      <material name="solid_gripper_4_parts_material">
        <color rgba="0.547041 0.58449 0.621749 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.37134e-09 -8.22904e-05 -0.0767445" rpy="1.69099e-14 9.1368e-14 3.14159"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/solid_gripper_4_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to solid_gripper_4 -->
  <joint name="J2_B_solid_gripper_4" type="prismatic">
    <origin xyz="0.45235 -0.14 -0.153" rpy="1.5708 -4.82829e-14 1.5708"/>
    <parent link="stator"/>
    <child link="solid_gripper_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="-4.44089e-16"/>
    <mimic joint="J2_B_solid_gripper_1" multiplier="1.0"/>
  </joint>
  <!-- Link roller_gripper -->
  <link name="roller_gripper">
    <inertial>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="0 0 0"/>
      <mass value="0.549326"/>
      <inertia ixx="0.000773949" ixy="1.16498e-05" ixz="1.03502e-05" iyy="0.000822966" iyz="4.6822e-07" izz="0.000434012"/>
    </inertial>
    <!-- Part roller_gripper_parts -->
    <visual>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="-3.14159 0.785398 5.91473e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_visual.stl"/>
      </geometry>
      <material name="roller_gripper_parts_material">
        <color rgba="0.764746 0.774397 0.770547 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="-3.14159 0.785398 5.91473e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to roller_gripper -->
  <joint name="J2_C_roller_gripper_1" type="prismatic">
    <origin xyz="0.131101 0.00714892 -0.229" rpy="1.5708 8.34931e-15 -2.35619"/>
    <parent link="stator"/>
    <child link="roller_gripper"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="1.15402e-14"/>
  </joint>
  <!-- Link roller_gripper_2 -->
  <link name="roller_gripper_2">
    <inertial>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="0 0 0"/>
      <mass value="0.549326"/>
      <inertia ixx="0.000773949" ixy="1.16498e-05" ixz="1.03502e-05" iyy="0.000822966" iyz="4.6822e-07" izz="0.000434012"/>
    </inertial>
    <!-- Part roller_gripper_2_parts -->
    <visual>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="3.14159 -0.785398 5.35124e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_2_visual.stl"/>
      </geometry>
      <material name="roller_gripper_2_parts_material">
        <color rgba="0.764746 0.774397 0.770547 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="3.14159 -0.785398 5.35124e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_2_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to roller_gripper_2 -->
  <joint name="J2_C_roller_gripper_2" type="prismatic">
    <origin xyz="0.131101 -0.287149 -0.229" rpy="1.5708 8.75838e-16 -0.785398"/>
    <parent link="stator"/>
    <child link="roller_gripper_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="1.15426e-14"/>
    <mimic joint="J2_C_roller_gripper_1" multiplier="1.0"/>
  </joint>
  <!-- Link roller_gripper_3 -->
  <link name="roller_gripper_3">
    <inertial>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="0 0 0"/>
      <mass value="0.549326"/>
      <inertia ixx="0.000773949" ixy="1.16498e-05" ixz="1.03502e-05" iyy="0.000822966" iyz="4.6822e-07" izz="0.000434012"/>
    </inertial>
    <!-- Part roller_gripper_3_parts -->
    <visual>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="5.07794e-14 -0.785398 -5.6309e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_3_visual.stl"/>
      </geometry>
      <material name="roller_gripper_3_parts_material">
        <color rgba="0.764746 0.774397 0.770547 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="5.07794e-14 -0.785398 -5.6309e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_3_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to roller_gripper_3 -->
  <joint name="J2_C_roller_gripper_3" type="prismatic">
    <origin xyz="0.425399 -0.287149 -0.229" rpy="-1.5708 8.38912e-15 -2.35619"/>
    <parent link="stator"/>
    <child link="roller_gripper_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="1.16236e-14"/>
    <mimic joint="J2_C_roller_gripper_1" multiplier="1.0"/>
  </joint>
  <!-- Link roller_gripper_4 -->
  <link name="roller_gripper_4">
    <inertial>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="0 0 0"/>
      <mass value="0.549326"/>
      <inertia ixx="0.000773949" ixy="1.16498e-05" ixz="1.03502e-05" iyy="0.000822966" iyz="4.6822e-07" izz="0.000434012"/>
    </inertial>
    <!-- Part roller_gripper_4_parts -->
    <visual>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="-2.16831e-14 0.785398 -5.58778e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_4_visual.stl"/>
      </geometry>
      <material name="roller_gripper_4_parts_material">
        <color rgba="0.764746 0.774397 0.770547 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000712425 -0.000140815 -0.0757529" rpy="-2.16831e-14 0.785398 -5.58778e-14"/>
      <geometry>
        <mesh filename="package://qbert_description/meshes/merged/roller_gripper_4_collision.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from stator to roller_gripper_4 -->
  <joint name="J2_C_roller_gripper_4" type="prismatic">
    <origin xyz="0.425399 0.00714892 -0.229" rpy="-1.5708 6.60057e-16 -0.785398"/>
    <parent link="stator"/>
    <child link="roller_gripper_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.04" upper="1.14617e-14"/>
    <mimic joint="J2_C_roller_gripper_1" multiplier="1.0"/>
  </joint>
  <!-- Joint from linear_gantry__configuration_festo to stator -->
  <joint name="J1_gantry" type="prismatic">
    <origin xyz="-0.285903 -0.0647361 0.174215" rpy="1.5708 -1.5708 0"/>
    <parent link="linear_gantry__configuration_festo"/>
    <child link="stator"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.27" upper="0.27"/>
  </joint>
</robot>
