<?xml version="1.0"?>
<robot name="qbert">
  <ros2_control name="qbert" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Linear Gantry -->
    <joint name="J1_gantry">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.27" upper="0.27" effort="10" velocity="10"/>
    </joint>

    <!-- Unstrander -->
    <joint name="J4_unstrander">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="0.0" effort="10" velocity="10"/>
    </joint>

    <!-- Tool Disc + Rotor -->
    <joint name="joint_J3_A_tool_disc">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.2" upper="0.0" effort="10" velocity="10"/>
    </joint>
    <joint name="J2_A_rotor">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-3.14593" upper="3.13726" effort="10" velocity="10"/>
    </joint>

    <!-- Compressor -->
    <joint name="J3_B_compressor_1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="0.0" effort="10" velocity="10"/>
    </joint>
    <joint name="J3_B_compressor_2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="0.0" effort="10" velocity="10"/>
    </joint>
    <joint name="J3_B_compressor_3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="0.0" effort="10" velocity="10"/>
    </joint>
    <joint name="J3_B_compressor_4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="0.0" effort="10" velocity="10"/>
    </joint>

    <!-- Gripper -->
    <joint name="J2_B_solid_gripper_1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="0.0" effort="10" velocity="10"/>
    </joint>
    <joint name="J2_B_solid_gripper_2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="-6.38378e-16" effort="10" velocity="10"/>
    </joint>
    <joint name="J2_B_solid_gripper_3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="-3.88578e-16" effort="10" velocity="10"/>
    </joint>
    <joint name="J2_B_solid_gripper_4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="-4.44089e-16" effort="10" velocity="10"/>
    </joint>

    <!-- Roller -->
    <joint name="J2_C_roller_gripper_1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="1.15402e-14" effort="10" velocity="10"/>
    </joint>
    <joint name="J2_C_roller_gripper_2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="1.15426e-14" effort="10" velocity="10"/>
    </joint>
    <joint name="J2_C_roller_gripper_3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="1.15402e-14" effort="10" velocity="10"/>
    </joint>
    <joint name="J2_C_roller_gripper_4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <limit lower="-0.04" upper="1.15426e-14" effort="10" velocity="10"/>
    </joint>
  </ros2_control>
</robot>
